<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="eu.endare.push"
    version="1.0.0">
    
    <js-module src="www/client.js">
        <clobbers target="eu.endare.push" />
    </js-module>

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" />

        <lib-file src="src/blackberry10/native/device/libUrbanAirshipBB10.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libUrbanAirshipBB10.so" arch="simulator"/>

        <config-file target="www/config.xml" parent="/widget">
            <feature name="eu.endare.push" value="eu.endare.push" />
        </config-file>
    </platform>
</plugin>