<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.endare.push"
    version="1.0.1">

    <js-module src="www/PushNotification.js" name="PushNotification">
        <clobbers target="PushNotification" />
    </js-module>

    <js-module src="www/Base64.js" name="Base64" />

    <dependency id="com.blackberry.invoked" url="https://github.com/blackberry/cordova-blackberry-plugins" commit="master" subdir="plugin/com.blackberry.invoked" />
    <dependency id="com.blackberry.push" url="https://github.com/blackberry/cordova-blackberry-plugins" commit="master" subdir="plugin/com.blackberry.push" />
    <dependency id="com.blackberry.notification" url="https://github.com/blackberry/cordova-blackberry-plugins" commit="master" subdir="plugin/com.blackberry.notification" />
    <dependency id="com.blackberry.app" url="https://github.com/blackberry/cordova-blackberry-plugins" commit="master" subdir="plugin/com.blackberry.app" />

    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" target-dir="PushNotification" />

        <config-file target="www/config.xml" parent="/widget">
            <feature name="com.endare.push" value="com.endare.push" />

            <access origin="https://urbanairship.com" subdomains="true" />
        </config-file>
    </platform>
</plugin>
